.ContactData{
    width: 80%;
    text-align: center;
    margin: 20px auto ;
    box-shadow: 1px solid  #ccc;
    border: 2px solid  #eee; 
    padding:10px;
    box-sizing: border-box;
}



@media(min-width){
    .ContactData{
        width: 500px;
    }
}